body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: lem;
    background-image: linear-gradient(to bottom, red,orange,yellow,green,blue);
    border: 5px solid navy;
}
h1 {
    margin-top: 0;
    color: navy;
}
label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}
#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}
#data span {
    padding-left: .25em;
}
#buttons input {
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}